body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: bisque;
}

h1 {
    margin: 0;
    padding: 2rem;
}

header {
    background-color: black;
    color: white;
}

.inputSection {
    margin: 2rem 0;
}

input {
    padding: 0.5rem 2rem;
}

.imageSection {
    margin: 0 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

img {
    width: 100%;
}